In [3]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [4]:
all_tables= pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [23]:
all_tables[12]
all_tables[26]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
3    4        Poland    0  0  0  0   0   0   0    0                        NaN

In [26]:
for i in range(12,67,7):
   print(i)

12
19
26
33
40
47
54
61

In [30]:
all_tables=pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
for i in range(12,67,7):
    df=all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')

In [31]:
print(alphabet)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [36]:
all_tables=pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table={}
for letter , i in zip(alphabet,range(12,67,7)):
    df=all_tables[i]
    df.rename(columns={df.columns[1]:'Team'},inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [37]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [38]:
dict_table['Group F']

   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Belgium    0  0  0  0   0   0   0    0
1    2   Canada    0  0  0  0   0   0   0    0
2    3  Morocco    0  0  0  0   0   0   0    0
3    4  Croatia    0  0  0  0   0   0   0    0

In [39]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)